@import './colors';
@import './fonts';
@import './tooltips';

body {
  margin: 0;
  background: $lightblue;
  font: 16px / 1.6 'Josefin Sans', sans-serif;
}

a {
  color: $blue;
  text-decoration: none;
}

h1.title {
  font-size: 34px;
  font-weight: 700;
  color: $blue;

  @media only screen and ( max-width: 660px ) {
    font-size: 26px;
  }
}

::selection {
  background: $blue-faint;
}

::-moz-selection {
  background: $blue-faint;
}

::-webkit-scrollbar{
  background: $blue-darker;
  width:10px
}
::-webkit-scrollbar-thumb{
  background-color:rgba(255,255,255,.7)
}
::-webkit-scrollbar-thumb:hover{
  background-color:#fff
}

form {
  input, button, textarea, select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font: 16px 'Josefin Sans', sans-serif;
    border: 1px solid $blue;
    padding: 14px 20px;
    outline: none;
    
    &:focus {
      background: lighten($blue, 35%);
    }
  }
  
  button {
    border: none;
    background: $blue;
    color: #fff;
    cursor: pointer;
    
    &:focus {
      background: $blue;
    }
  }

  textarea {
    min-height: 150px;
    resize: none;
  }

  label {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
  }
}

.mid {
  width: 1200px;
  margin: 0 auto;

  @media only screen and ( max-width: 1210px ) {
    width: 970px;
  }

  @media only screen and ( max-width: 990px ) {
    width: auto;
  }
}

.page {
  background: #fff;
  box-sizing: border-box;
  padding: 20px 35px;
  margin-top: 60px;
  
  .title {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    max-width: 100%;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border: 2px solid $blue;
  font-size: 18px;
  margin-bottom: 10px;
  transition: transform 200ms ease-in-out;

  &:hover, &.opened {
    background: $blue-faint;
  }

  &.opened {
    transform: scale(1.04, 1);
  }

  .actions {
    font-size: 28px;
    width: 60px;
    text-align: right;

    a {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .name-input {
    margin-bottom: 0;

    input {
      width: 300px;
      padding: 4px 0;
      font-size: 18px;
      border: 0;
      background:  transparent;
      border-bottom: 2px dashed $blue;
      margin-bottom: 0;
    }
  }

  @media only screen and ( max-width: 660px ) {
    display: block;

    .actions {
      margin: 10px 0;
      text-align: left;
      width: auto;
    }
  }
}

.search-container {
  font-size: 18px;
  color: #222;
  position: relative;
  margin-bottom: 20px;

  i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

  input {
    margin-bottom: 0;
    padding-left: 45px;
  }

  @media only screen and ( max-width: 660px ) {
    i {
      display: none;
    }

    input {
      padding-left: 20px;
    }
  }
}
