$lightblue: #d9e6fc;
$blue: #1e71ff;
$blue-lighter: lighten($blue, 20%);
$blue-faint: lighten($blue, 35%);
$blue-darker: darken($blue, 15%);

$gray: #767676;

$danger: #e74c3c;
$success: #27ae60;
$warning: #FF6F00;
$info: #0D47A1;
